<div class="users-bg">
 <%=image_tag"user-index.jpg", class:"users-bg"%>
  <div class="bg-mask">
   <div class="container">　
        <div class="pagenation">
        <%= paginate @users %>
        </div>  　 　
　   <div class="page-title"> ユーザー一覧 </div>
　　　　<div class="user-item">
　　 　　　<% @users.each do |user| %> 
        <div class="user-index">
        <img src="<%="/users_images/#{user.image_name}"%>">
        <%= link_to user.name, "/users/#{user.id}/edit" %>
        </div>
 　 　<%end%>
　   </div＞  
   </div＞
　</div＞   
</div＞
</div＞



