<div class="users-bg">
 <div class="bg-mask">
 <div class="container">
 <div class="form-body">
    <%= form_tag("/user/#{@user.id}/update", {multipart: true}) do %>
     <form>
     <div class="login-title">
     User Edit
     </div>
  　   <input name="name", value="<%=@user.name%>" placeholder="user"> <input name="email", value="<%=@user.email%>" placeholder="email"> 
       <input name="password", value="<%=@user.password%>" placeholder="password"> 
       <div class="btn">
       　<input name="image" type="file" >
       </div>
       <button type="submit" id="login-button"><i class="fas fa-pencil-alt" "icon"></i>edit</button>   
       </form>
       <%end%>
  </div>
</div>
