<% provide(:title, "Top") %>
<div class="top-main">
　<%=image_tag "top.jpg", class:"top-main"%>
</div>
<div class="container">
 <h1 class="title">Anima</h1>
 <p class="sub-title">we live in the world where you live</p>
 </div>
