<% if flash[:notice] %>
<div class="flash">
<%=flash[:notice]%>
</div>
<% end %>
<div class="top-main"></div>
<div class="container">
 <p class="title">Anima</p>
 <p class="sub-title">we live in the world where you live</p>
 </div>
 
