<% provide(:title, "Top") %>
<div class="top-main">
　<%=image_tag "top.jpg", class:"top-main"%>
</div>
<div class="container">
 <h1 class="title">Anima</h1>
 <p class="sub-title">we live in the world where you live</p>
 </div>
 <footer class="footer">
 <small>
   ©️Anima ,we live in the world where you live
   by <a href="https://github.com/ryusuke1102">　Ryusuke</a>
 </small>
 <nav>
   <ul style= "list-style-type:none;margin-top: 0px;">
     <li><%= link_to "Contact", '#' %></li>
   </ul>
 </nav>
</footer>
 