

html{
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
.bg-mask{
    background: rgba(255,255,255,0.4);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 .flash{
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;
    opacity: 1;
    text-align: center;
    
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    box-sizing: border-box;

    width: 30%;
    height: 60px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #c8cbdb;
    background-color: rgb(216, 77, 42);
    border-color: rgb(216, 77, 42);
    border: 1px solid;

    animation: fadeout 1s linear 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s linear 3s 1;
    -webkit-animation-fill-mode: forwards;
    }
    @keyframes fadeout {
        0%   {  opacity:1;height:60px;margin:0 auto;padding:15px;margin-bottom:20px;    }
        99%  {  opacity:0;height:60px;margin:0 auto;padding:15px;margin-bottom:20px;    }
        100% {  opacity:0;height:0;margin:0;padding:0;  }
    }
    @-webkit-keyframes fadeout {
        0%   {  opacity:1;height:60px;margin:0 auto;padding:15px;margin-bottom:20px;    }
        99%  {  opacity:0;height:60px;margin:0 auto;padding:15px;margin-bottom:20px;    }
        100% {  opacity:0;height:0;margin:0;padding:0;  }
    
    
    } 
}
.header-wrapper{
    height: 20px;
}
    

header{
    background: #ffffff36;
    width:100%;
    height:60px;
    background-size: cover;
    position: fixed;
    top:0; 
    left:0;
    z-index:9;

}


.header-logo{

   float: left;
   font-size: 40px;
   font-family: 'HanziPen SC',sans-serif;
   transition: all 400ms 0s ease;


}
.header-logo:hover{
    font-size: 48px;
    transition: all 400ms 0s ease;
}




a{
    text-decoration: none;
    color: #2d3133;
}

.head-list li{
    margin-top: 0;
    float: right;
    margin-right:10px;
    padding:0px 10px;
    transition: all 700ms 0s ease;


}
.head-list li:hover{
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 4px;
    transition: all 400ms 0s ease;
}

 

.read{
    font-size:32px;
   
}

.top-main{
    height: 100%;
    background-size: cover; 
    position: relative;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 0;
    margin: 0;

    animation-name: fadeintop;
    animation-duration: 3s;
}
@keyframes fadeintop{
    from{
    opacity: 0;
    }
    top{
    opacity: 1;
    }
}

.title{
    font-size: 80px;
    font-weight: lighter;
    font-family: 'HanziPen SC',sans-serif;
    position: absolute;
    top: 28%; left: 30%;
    animation-name: fadeinTitle;
    animation-duration: 4s;
} 
@keyframes fadeinTitle {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
 }     


.sub-title{
    position: absolute;
    top: 46%; left: 31%;
    letter-spacing: 5px;
    font-family: 'Athelas',sans-serif;
    animation-name: fadeinTitle;
    animation-duration: 4s;
} 
@keyframes fadeinTitle {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
 }     



.login{
    border-left: 3px solid rgb(92, 72, 72);
}

.login-title{
    font-weight: lighter;
    font-size: 32px;
    letter-spacing: 2px; 
    margin-bottom: 30px;
}
.login-wrapper{
    position: absolute;
    top: 0%;
    left: 0%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form-body{
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(238, 240, 248, 0.699);
    box-shadow: 0 2px 6px #4d4e4e;
    padding: 30px 30px;
    text-align: center;
    animation-name: fadeinfrom;
    animation-duration: 2s;
 }
 @keyframes fadeinfrom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
 }     

form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 20px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    width: 300px;
    color: rgb(216, 77, 42);
   }
form button {
    margin-top: 30px;
    appearance: none;
    outline: 0;
    background-color: rgb(216, 77, 42);
    border: 0;
    padding: 10px 20px;
    color: #c8cbdb;
    border-radius: 3px;
    width: 285px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    position: relative;
}
form button:hover {
    background-color: rgba(216, 77, 42, 0.678);
}

.user-form{
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.btn{
    text-align: center;
}

form i{
  position: absolute;
  left: 10px;
}

/* footer */

footer {
    padding-left: 20px; 
    padding-top: 2px;
    height: 25px;
    position: fixed;
    bottom:0%;
    left: 0%;
    width: 100%;
    border-top: 1px solid #eaeaea;
    background: #ffffffb2;
    color: #555;
  ul{
    list-style: none;
    padding-right: 50px;
    font-size: 18px;
    text-align: right;
  }
}

footer small{
    float: left; 
    color: #555;
}

footer a:hover{
    color: #777;
}
