
.container{
    margin: 0 auto;
    margin-top: 130px;
    max-width: 90%;
    
}

.index-bg{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}

.post-form{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1500px;
}


.post-index-item{
    overflow: hidden;
    transition: all 400ms 0s ease;
    border-bottom: 0px solid rgba(58, 51, 51, 0.678);
    border-left: 0px solid rgba(58, 51, 51, 0.678);
    border-radius: 3px;
    height: 250px;
 }     

.post-index-item:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    transition: all 400ms 0s ease;

}
.submit textarea{
    padding:30px 30px;
}
.posts-index{
    margin-top: 30px;
    overflow: hidden;
    float: left;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 1px !important;
    margin-right: 4px;
    box-shadow: #EBEBEB;
    background-color: rgba(255, 255, 255, 0.2);

    width: 24%; 
    box-shadow: 0 2px 6px #565c61;
    animation-name: fadeInFromRight;
    animation-duration: 0.8s;
}
@keyframes fadeInFromRight {
    from {
        opacity: 1;
        transform: translateX(-2000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.posts-index img{
    width: 150px;
    height: 150px;
    border-radius: 4px;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 20px 10px;
    object-fit: cover;

}

.post-user-name{
    opacity: 0.7;
    text-align: right;
    margin-right: 5px;
    font-size: 18px;
}



.posts-content{
    text-align: center;
    border: 1px solid rgba(226, 215, 215, 0.4);
    background-color: rgba(233, 223, 223, 0.2);
    border-radius: 4px;
    padding-top: 10px;
}

.posts-image img{
    border-radius: 10px;
    height: 500px;
    width: 700px;
}

.post-user-edit{
    text-align: right;
    padding-right: 300px;
}

.post-detail{
    padding:40px 40px;
}


.like{
    text-align: right;
    padding-right: 300px;
}

.like i{
    font-size: 1.2rem;
}

.like-btn{
    color: rgb(235, 224, 224);
   
}
.like-btn-unlike{
    color: rgb(255, 15, 55);

}

form textarea {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 20px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
}
form textarea:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form textarea:focus {
    background-color: white;
    width: 300px;
    color: rgb(216, 77, 42);
   }

label input{
    display: none;
}
label{
    appearance: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding: 5px 80px;
    color: #000000;
    border-radius: 3px;
    width: 285px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    font-size: 18px;
    color: rgb(85, 82, 82);
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
}

label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.pagination{
    margin: 0 auto;
    background-color: rgba(218, 206, 204, 0.678);
    font-size: 28px;
    position: absolute;
    bottom: 40px;
    text-decoration: none;
}
.pagination a{
    padding: 0 8px;
}
.pagination a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.5s;  
}
