// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title{
    color: rgba(216, 77, 42, 0.8);
    font-size:36px;
    padding-bottom:18px;
}

.error-message{
    color:red;
    
}

.users-bg{
    height: 1200px;
    background-size: cover; 
    position: relative;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}

.user-profile{
    
    padding-left: 0;
    text-align: center;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(99, 97, 97);
    border-bottom: 1px solid rgb(99, 97, 97);
    background-color: rgba(255, 255, 255, 0.205); 
    animation-name: fadeinfrom;
    animation-duration: 2s;
 }
 @keyframes fadeinfrom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 }     

.user-name{
    margin-bottom: 20px;
}

.edit-btn{
    text-align: right; 
    margin-right: 40px;
    margin-top: 20px;
    
}

.user-img img{
    border: 0.08px solid rgb(99, 97, 97);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
}

.user-item img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-item{
    font-size: 32px;
    animation: fall 0.8s ease-in-out;

}
@keyframes fall{
    from{
        opacity: 0;
        transform: translateY(-400px) 
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }

}