// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title{
    color: rgba(216, 77, 42, 0.8);
    font-size:36px;
    padding-bottom:18px;
}

.error-message{
    color:red;
    
}

.users-bg{
    height: 1200px;
    background-size: cover; 
    position: relative;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}

.user-profile{    
    padding-left: 0;
    text-align: center;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(99, 97, 97);
    border-bottom: 1px solid rgb(99, 97, 97);
    background-color: rgba(255, 255, 255, 0.205); 
    animation-name: fadeinfrom;
    animation-duration: 2s;
 }
 @keyframes fadeinfrom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 }     

.user-name{
    margin-bottom: 20px;
}

.user-index{
    margin-left: 56px;
}

.edit-btn{
    text-align: right; 
    margin-right: 40px;
    margin-top: 20px;
    
}

.user-img img{
    border: 0.08px solid rgb(99, 97, 97);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
}

.user-item img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-item{
    font-size: 32px;
    animation: fall 0.8s ease-in-out;

}
@keyframes fall{
    from{
        opacity: 0;
        transform: translateY(-400px) 
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

//フォロー

.stat{
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.stats{
    overflow: auto;
    margin-bottom: 30px;
    a {
        padding: 0 10px;
        border-left: 1px solid rgb(146, 139, 139);
        color: rgb(199, 71, 71);
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:hover {
          text-decoration: none;
          color: blue;
        }
    }
}

.follow-btn{
    margin-top: -30px;
    
}
.btn-follow{
    width: 20%;
    background-color: rgba(196, 181, 170, 0.774);
    border-radius: 25px;
 
}

.btn-unfollow{
    width: 20%;
    background-color: rgba(248, 125, 24, 0.774);

    border-radius: 25px;
 
}

.follow-pagenate{
    margin-top: 200px;
}

.user_info{
    float: left;
}

.stats-f{
    overflow: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    a {
        padding: 0 10px;
        border-left: 1px solid rgb(146, 139, 139);
        color: rgb(5, 5, 5);
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:hover {
          text-decoration: none;
          color: blue;
        }
    }
}

//検索フォーム
.search{
    position: absolute;
    top: 10%;
    right: 10%;
}